html, body{
    background-color: black;
    color: var(--amber-text);
    font-family: var(--text-font);
}

#brk{
    height: 2px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--amber-text);
}

p, li, table {
    font-size: var(--body-text-size);
}
